ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 15px;
  }
  
  .card-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0 20px 0;
  }
  
  .input-item {
    --padding-start: 10px;
    --padding-end: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
  }
  
  .access-button {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .remember-recover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 8px;
  }
  
  .remember-recover a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }

  .or {
    position: relative;
    text-align: center;
    margin: 15px 0;
    color: #888;
  }
  
  .or::before,
  .or::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #888;
  }
  
  .or::before {
    left: 0;
  }
  
  .or::after {
    right: 0;
  }
  
  .social-button {
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .terms,
  .register {
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
    color: #aaa;
  }
  
  .terms a,
  .register a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }
  
  
  .register-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
  }
  

  .lembrar-me {
    margin-right: auto;
    margin-left: 4px;
  }
  