<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Adicionar</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-button class="add-button" expand="block" color="primary"><lucide-icon class="add-icon" name="plus" slot="icon-only"></lucide-icon>Adicionar Nova Viagem</ion-button>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets\images\la_palma.jpg" />
    <ion-card-header>
      <ion-card-title>La Palma</ion-card-title>
    </ion-card-header>
  
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="footer-buttons">
      <div class="footer-item">
        <ion-button (click)="homePage()">
          <lucide-icon name="luggage" slot="icon-only"></lucide-icon>
        </ion-button>
        <div class="footer-text">Viagens</div>
      </div>

      <div class="footer-item">
        <ion-button>
          <lucide-icon name="circle-plus" slot="icon-only"></lucide-icon>
        </ion-button>
        <div class="footer-text">Adicionar</div>
      </div>


      <div class="footer-item">
        <ion-button>
          <lucide-icon name="circle-user-round" slot="icon-only" ></lucide-icon>
        </ion-button>
        <div class="footer-text">Perfil</div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

