<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Viagem</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="add-button" expand="block" color="primary">
    <ion-icon class="add-icon" name="add" slot="icon-only"></ion-icon>
    Adicionar Nova Viagem
  </ion-button>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets\images\la_palma.jpg" />
    <ion-card-header>
      <ion-card-title>La Palma</ion-card-title>
    </ion-card-header>
  
  </ion-card>
  
</ion-content>