:host {
    ion-header {
      ion-toolbar {
        background: var(--ion-color-primary);
        color: var(--ion-color-light);

  
        ion-button {
          font-size: 0.9rem;
  
          ion-icon {
            margin-right: 0.4rem;
          }
        }
      }
    }
  
    ion-content {
      --background: var(--ion-color-light);
      padding: 1rem;
  
      form {
        display: flex;
        flex-direction: column;
  
        ion-item {
          margin-bottom: 1rem;
        }
  
        ion-note {
          font-size: 0.8rem;
          margin-left: 1rem;
          margin-top: -0.5rem;
        }
  
        ion-button {
          margin-top: 1rem;
          --background: var(--ion-color-primary);
          --border-radius: 20px;
          font-weight: bold;
  
          ion-icon {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  