<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      {{ action === 'update' ? 'Editar Localização' : 'Adicionar Localização' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" fill="clear">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitForm()">
    <!-- Nome da Localização -->
    <ion-item lines="inset" class="form-item">
      <ion-label position="floating">Nome da Localização</ion-label>
      <ion-input [(ngModel)]="location.prop1" name="prop1" required></ion-input>
    </ion-item>

    <!-- Descrição -->
    <ion-item lines="inset" class="form-item">
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea
        [(ngModel)]="location.description"
        name="description"
        rows="3"
        autoGrow="true"
        required>
      </ion-textarea>
    </ion-item>

    <!-- Seleção de Viagem -->
    <ion-item lines="inset" class="form-item">
      <ion-label>Selecione a Viagem</ion-label>
      <ion-select [(ngModel)]="location.travelId" name="travelId" placeholder="Selecione" required>
        <ion-select-option *ngFor="let viagem of viagens" [value]="viagem.id">
          {{ viagem.prop1 }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <!-- Adicionar e Listar Comentários - Somente no modo de edição -->
  <div *ngIf="action === 'update'" class="ion-margin-top">
    <ion-card>
      <ion-card-content>
        <!-- Adicionar Comentário -->
        <ion-item lines="inset">
          <ion-label position="floating">Adicionar Comentário</ion-label>
          <ion-input [(ngModel)]="newComment" name="newComment"></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          color="secondary"
          class="ion-margin-top"
          (click)="addComment()">
          Adicionar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="footer-buttons">
  <!-- Botões -->
  <div class="ion-margin-top">
    <ion-button
      expand="block"
      type="submit"
      [disabled]="!location.travelId"
      shape="round"
      color="primary">
      {{ action === 'update' ? 'Atualizar Localização' : 'Associar Localização' }}
    </ion-button>

    <!-- Botão de exclusão -->
    <ion-button
      expand="block"
      color="danger"
      *ngIf="action === 'update'"
      (click)="deleteLocation()"
      shape="round"
      class="ion-margin-top">
      Eliminar Localização
    </ion-button>
  </div>
</ion-footer>
