<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title class="ion-text-center">
      {{ isEditing ? 'Editar Comentário' : 'Adicionar Comentário' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Condicional para mostrar o select apenas quando não estiver editando -->
  <ion-item *ngIf="!isEditing" class="select-viagem">
    <ion-label position="stacked">Selecione uma Viagem</ion-label>
    <ion-select [(ngModel)]="selectedViagemId" placeholder="Escolha uma viagem">
      <ion-select-option *ngFor="let viagem of viagens" [value]="viagem.id">
        {{ viagem.prop1 }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Comentário -->
  <ion-item class="comment-box">
    <ion-label position="stacked">Comentário</ion-label>
    <ion-textarea 
      [(ngModel)]="comment" 
      placeholder="Digite seu comentário..." 
      auto-grow="true">
    </ion-textarea>
  </ion-item>
</ion-content>

<ion-footer class="footer-buttons">
  <ion-button 
    expand="block" 
    *ngIf="isEditing" 
    color="danger" 
    (click)="deleteComment()" 
    class="ion-margin-bottom">
    <ion-icon name="trash-outline" slot="start"></ion-icon> Eliminar Comentário
  </ion-button>

  <ion-button 
    expand="block" 
    *ngIf="!isEditing" 
    color="primary" 
    (click)="submitComment()">
    <ion-icon name="save-outline" slot="start"></ion-icon> Salvar Comentário
  </ion-button>
</ion-footer>
