<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEditing ? 'Editar Comentário' : 'Adicionar Comentário' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Condicional para mostrar o select apenas quando não estiver editando -->
  <ion-item *ngIf="!isEditing">
    <ion-label position="stacked">Selecione uma Viagem</ion-label>
    <ion-select [(ngModel)]="selectedViagemId" placeholder="Escolha uma viagem">
      <ion-select-option *ngFor="let viagem of viagens" [value]="viagem.id">
        {{ viagem.prop1 }} - {{ viagem.prop2 }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Comentário -->
  <ion-item>
    <ion-label position="stacked">Comentário</ion-label>
    <ion-textarea [(ngModel)]="comment" placeholder="Digite seu comentário..."></ion-textarea>
  </ion-item>

  <!-- Rodapé com botões -->
  <ion-footer class="ion-padding">
    <ion-button 
      expand="block" 
      *ngIf="isEditing" 
      color="danger" 
      (click)="deleteComment()" 
      class="ion-margin-top">
      <ion-icon name="trash-outline" slot="start"></ion-icon> Deletar Comentário
    </ion-button>
    
    <ion-button 
      expand="block" 
      *ngIf="!isEditing" 
      (click)="submitComment()" 
      class="ion-margin-top">
      <ion-icon name="save-outline" slot="start"></ion-icon> Salvar Comentário
    </ion-button>
  </ion-footer>
</ion-content>
