<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">O meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-avatar class="avatar-large">
      <img
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
        alt="Avatar do Usuário"
      />
    </ion-avatar>
  </div>

  <ion-card>
    <ion-card-content class="card">
      <form>
        <!-- Nome -->
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input label="Nome:" name="nome"></ion-input>
        </ion-item>

        <!-- E-mail -->
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input label="E-mail:" name="email"></ion-input>
        </ion-item>

        <!-- Contacto -->
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          
          <ion-input type="number" label="Contacto:" name="contacto"></ion-input>
        </ion-item>

        <!-- Palavra-Passe -->
        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input label="Palavra-Passe:" [type]="passwordType"></ion-input>
        </ion-item>

        <!-- Gênero -->
        <ion-item>
          <ion-icon name="male-female-outline" slot="start"></ion-icon>
          <ion-select label="Género:">
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="feminino">Feminino</ion-select-option>
            <ion-select-option value="outro">Outro</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Data de Nascimento -->
        <ion-item>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-input label="Data de Nascimento:"
            (click)="showDatePicker = !showDatePicker"
            readonly
          ></ion-input>
        </ion-item>

        <!-- Ion Datetime -->
        <ion-datetime
          *ngIf="showDatePicker"
          [max]="maxDate"
          presentation="date"
          [preferWheel]="true"
        ></ion-datetime>
      </form>
   
    </ion-card-content>

    
  </ion-card>
  <ion-button expand="block" color="primary">Guardar Alterações</ion-button>

</ion-content>
