<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title>
      As minhas viagens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Segmento de filtro -->
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)" class="styled-segment">
    <ion-segment-button value="future-trips">     
      <ion-label>Viagens Futuras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past-trips">
      <ion-label>Viagens Já Efetuadas</ion-label>
    </ion-segment-button>
  </ion-segment>
  

  <!-- Lista de viagens filtradas -->
  <ion-item *ngFor="let viagem of filteredViagens" (click)="openModal(viagem)">
    <ion-label>
      {{ viagem.description }}
    </ion-label>
  </ion-item>

  <!-- Botão flutuante para adicionar nova viagem -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
