<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment value="future-trips" class="trip-segment">
    <ion-segment-button value="future-trips">
      <ion-label>Viagens Futuras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past-trips">
      <ion-label>Viagens já efetuadas</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="ion-padding">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <strong>Paris</strong>
        <span class="ver-mais">Ver mais +</span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/images/Paris.avif" alt="Paris" class="image" />
    </ion-card-content>
  </ion-card>  
</ion-content>

