<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title>As minhas viagens</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refreshViagens()">
        <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterViagens()"
    placeholder="Pesquisar viagens..."
    class="custom-searchbar"
  ></ion-searchbar>


  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="filterViagens()" color="primary" class="custom-segment">
    <ion-segment-button value="future-trips">
      <ion-label>Viagens Futuras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past-trips">
      <ion-label>Viagens Já Efetuadas</ion-label>
    </ion-segment-button>
  </ion-segment>

 
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let viagem of filteredViagens">
        <ion-card (click)="openModal(viagem)" class="custom-card">
          <ion-card-header>
            <ion-card-title>{{ viagem.prop1 }}</ion-card-title>
            <ion-card-subtitle>{{ viagem.prop2 }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Descrição:</strong> {{ viagem.description }}</p>
            <p><strong>Tipo De Viagem:</strong> {{ viagem.type }}</p>
            <p><strong>Início:</strong> {{ viagem.startAt | date: 'shortDate' }}</p>
            <p><strong>Fim:</strong> {{ viagem.endAt | date: 'shortDate' }}</p>

         
            <p *ngIf="viagem.locations?.length" class="locations-title">
              <strong>Localizações:</strong>
            </p>
            <ul *ngIf="viagem.locations?.length" class="locations-list">
              <li *ngFor="let location of viagem.locations">
                {{ location.prop1 }} - {{ location.description }}
              </li>
            </ul>
            <p *ngIf="!viagem.locations?.length" class="no-locations">
              <em>Sem localizações associadas</em>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
