.trip-card {
  border: 1px solid #565656;
  border-radius: 12px;
  margin: 15px 0;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.more-link {
  color: #007bff;
  font-weight: normal;
  text-decoration: none;
}

.trip-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top: 1px solid;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-buttons ion-button {
  color: #1aa2fd;
}

.footer-buttons ion-button ion-icon {
  font-size: 1.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

.footer-text {
  font-size: 0.8rem;
  color: #7d7d7d;
  margin-top: 4px;
}

.footer-buttons ion-button[activated] {
  color: #007bff;
}
