<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="register-card">
    <ion-card-header>
      <ion-card-title class="register-title">Registar-se</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="register-input-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="Introduza o seu nome" type="text"></ion-input>
      </ion-item>
      
      <ion-item class="register-input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Introduza o seu e-mail" type="email"></ion-input>
      </ion-item>
      
      <ion-item class="register-input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          placeholder="Crie a sua senha"
          [type]="passwordType"
        ></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
          <ion-icon [name]="passwordType === 'password' ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        </ion-button>
      </ion-item>
      
    
      <ion-button expand="block" color="primary" class="register-button" (click)="handleRegister()">Criar</ion-button>
    </ion-card-content>
  </ion-card>

  <div class="register-or">ou</div>

  <ion-button expand="block" color="light" class="register-social-button">
    <ion-icon name="logo-apple" slot="start"></ion-icon>
    Registar-se com Apple
  </ion-button>

  <ion-button expand="block" color="primary" class="register-social-button">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    Registar-se com Facebook
  </ion-button>

  <ion-button expand="block" color="danger" class="register-social-button">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Registar-se com Google
  </ion-button>

  <p class="register-terms">
    Ao inscrever-se, o utilizador concorda com os nossos <a href="#">Termos de Serviço</a> e <a href="#">Política de Privacidade</a>.
  </p>

  <p class="register-footer-link">Já tem conta? <a (click)="loginLink()">Inicie sessão</a></p>
</ion-content>
